<div class="jumbotron">
  <h1 class="display-4"><%= @contact.name %></h1>
  <p class="lead">Contact number: <%= @contact.number %></p>
  <p class="lead">Email address: <%= @contact.email %></p>
  <hr class="my-4"> 
  <%= link_to 'Back', contacts_path, class: "btn btn-dark" %>
  <%= link_to 'Edit', edit_contact_path, class: "btn btn-primary" %>
</div>  
